<section class="page_container">


<div class="decade"> <h2> 1990-1995 </h2> 
  <ul>
    <% @nineties.each do |artwork| %>
    <li>
      <a href=<%="/artworks#artwork_#{artwork.id}"%>>
        <figure><%= image_tag(artwork.image, class: "artwork_image", id: "artwork_#{artwork.id}")%></figure>
      </a>
    </li>
    <% end %>
  </ul> 
</div>


<div class="decade"> <h2> 1980-1989 </h2> 
  <ul>
    <% @eighties.each do |artwork| %>
      <li><figure><%= image_tag(artwork.image, class: "artwork_image") %></figure></li>
    <% end %>
  </ul> 
</div>


<div class="decade"> <h2> Unknown dates </h2> 
  <ul>
    <% @seventies.each do |artwork| %>
      <li><figure><%= image_tag(artwork.image, class: "artwork_image") %></figure></li>
    <% end %>
  </ul> 
</div>


<div class="decade"> <h2> 1950s </h2>
  <ul>
    <% @fifties.each do |artwork| %>
     <li><figure><%= image_tag(artwork.image, class: "artwork_image") %></figure></li>
    <% end %>
  </ul> 
</div>


<div class="decade"> <h2> 1940s </h2>
  <ul>
    <% @forties.each do |artwork| %>
     <li><figure><%= image_tag(artwork.image, class: "artwork_image") %></figure></li>
    <% end %>
  </ul> 
</div>

</section>

