<div id="artworks">

  <div class="artwork_container">
    <% @artworks.each do |artwork| %>
      <%= image_tag(artwork.image, class: "artwork_image", id: "artwork_#{artwork.id}")%><br>

    <div class="artwork_info">
    <h3> <%= "#{artwork.title} " %> 
        <%= "| #{artwork.year} " %>
        <%= "| #{artwork.medium} " if artwork.medium != "tbc" %>
        <%= "| #{artwork.dimensions} " if artwork.dimensions != "tbc" %>
        <%= "| #{artwork.collection}"  if artwork.collection != "" || artwork.collection != "tbc" %>
    </h3>
    </div>
    <% end %>
  </div>
</div>
<footer></footer>