<div class="artworks">
  
  <div class="artwork_container">
    <% @artworks.each do |artwork| %>
    <%= image_tag(artwork.image, class: "artwork_image") %><br>
  
    <div class="artwork_info">
    <p><%= artwork.title %> | <%= artwork.year %> | <%= artwork.medium %> | <%= artwork.dimensions %> | <%= artwork.collection %></p>
    </div>
    <% end %>
  </div>
</div>
