<div id="navbar">
  <nav>
    <ul>
      <div id="topnav_left">
        <li><%= link_to "Roger de Grey", home_path %></li>
      </div>
      <div id="topnav_right">
        <li><%= link_to "Collection", home_path %></li>
        <li><%= link_to "Work", artworks_path %></li>
        <li><%= link_to "Biography", biography_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </div>
    </ul>
</div>